erp-simple-grid .pages-sg {
	display: inline;
	float: right;
}

erp-simple-grid .page-sg {
	color: #3C4144;
	display: inline;
	float: left;
	border: 1px solid #D9D9D9;
	border-right: none;
	padding: 4px 8px;
	cursor: pointer;
}

erp-simple-grid .page-sg:hover {
	color: #181A1C;
}

erp-simple-grid .page-sg.current {
	background-color: #F3F3F3;
}

erp-simple-grid .first-page-sg {
	border-radius: 5px 0 0 5px;
}

erp-simple-grid .last-page-sg {
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #D9D9D9;
}

erp-simple-grid .separator-sg {
	border-top: none;
	border-bottom: none;
	cursor: default;
}
